<u>{{element.name}}</u>
<select onChange={{action 'testManagerChangeTestState'}}>
	{{#each test_state_model as |state|}}
		<option value={{state.id}} selected={{test.test_state_id}}>{{state.name}}</option>
	{{/each}}
</select>
